/*Font Link*/
@font-face {
    font-family: "starWarsFont";
    src: url("../fonts/Starjhol.ttf");
}

/*body element selector*/
body {
    background-image: url('../images/StarWarsBackground.jpg'); /*change the background image*/
    background-position: center; /*center the image on the screen*/
    background-attachment: fixed; /*fix the image to the viewport*/
    background-repeat: no-repeat; /*Do not repeat the background image*/
    background-size: cover;  /*scale the background image to cover the whole screen*/
    background-color: black;
    height: 100vh;
}

/*Header element selector*/
header {
    font-family: "starWarsFont";
    color: yellow; /*Change text color to yellow*/
}

/*Keyframe definition for opacity chagne*/
@keyframes changeOpacity {
    0%   { opacity: 1; }
    100% { opacity: .5; }
  }

/*character class*/
.character {
    /* height: 150px; */
    width: 150px;
    margin: 5px;
    border: 1px yellow solid;
}

/*change pointer if the character is clickable*/
.character.clickable {
    cursor: pointer;
}

/*Animate when the user hovers over a character if the character is clickable*/
.character.clickable:hover {
    animation: changeOpacity 1s 1;
    animation-fill-mode: forwards;
}

/*character class where isYourCharacter is 1*/
.character[isYourCharacter="1"] {
    border-color: green;
}

/*character class where isYourCharacter is 0 (aka it's an enemy)*/
.character[isYourCharacter="0"] {
    border-color: red;
}

/*Modify the character health text so it's aligned toward the bottom of the image*/
.characterHealth {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    background-color: black;
    opacity: .7;
}

/*defender or result class*/
.defender, .result {
    display: inline-block; 
}

/*character class where isDefeated attribute is 1*/
.character[isDefeated="1"] {
    display: none; /*hide the div*/
}
